# {{.Config.Name}}
nix home-manager configs managed by [fleek](https://github.com/ublue-os/fleek)

## Getting Started

Install [Nix](https://nixos.org) then run:

```
fleek init
```

`fleek` reads your configuration from `$HOME~/.fleek.yml`. You can edit this
file with `fleek edit` which opens your `$EDITOR`.

Edit the list of packages you want installed manually by modifying `$HOME/.fleek.yml`.

## Usage

Modify $HOME/.fleek.yml to your liking and run `fleek apply`.


