{ pkgs, misc, ... }: {
  # packages are just installed (no configuration applied)
  # programs are installed and configuration applied to dotfiles
  # add your personalized program configuration in ./user.nix   {{range $index, $element := .Bling.ProgramMap}} 
    programs.{{ $index }}.enable = true;{{ end }}

}
