{ config, pkgs, misc, ... }: {
  nixpkgs = {
    # Configure your nixpkgs instance
    config = {
      # Disable if you don't want unfree packages
      {{ if .Config.Unfree }}
      allowUnfree = true;
      # Workaround for https://github.com/nix-community/home-manager/issues/2942
      allowUnfreePredicate = (_: true);
      {{ end }}
    };
  };

  {{ if not .Config.Ejected }}
  # managed by fleek, modify ~/.fleek.yml to change installed packages
  {{ end }}
  # packages are just installed (no configuration applied)
  # programs are installed and configuration applied to dotfiles
  home.packages = [{{ range .Config.Packages }}
    pkgs.{{ . }}{{ end }}
    {{ range .LowPackages }}
    pkgs.{{ . }}{{end}}
    {{ if eq .Config.Bling "default" }}
    {{ range .DefaultPackages }}
    pkgs.{{ . }}{{end}}
    {{ end }}
    {{ if eq .Config.Bling "high" }}
    {{ range .DefaultPackages }}
    pkgs.{{ . }}{{end}}
    {{ range .HighPackages }}
    pkgs.{{ . }}{{end}}
    {{ end }}
    # required for fleek git integration
    pkgs.github-cli
    pkgs.glab

    # extra until this works, remove later :TODO:
    pkgs.go
    pkgs.gcc
    (pkgs.nerdfonts.override { fonts = [ "FiraCode" ]; })
  ];
  fonts.fontconfig.enable = true; 
  home.stateVersion =
    "22.11"; # To figure this out (in-case it changes) you can comment out the line and see what version it expected.
  programs.home-manager.enable = true;
}
