{ pkgs, misc, ... }: {
 
  # programs are installed and configured.
  # add your program configuration in ./user.nix{{ range .Config.Programs }}
    programs.{{ . }}.enable = true;{{ end }}
    # low bling
    {{ range .LowPrograms }}
    programs.{{ . }}.enable = true;{{ end }}
    {{ if eq .Config.Bling "default" }}
    # default bling
    {{ range .DefaultPrograms }}
    programs.{{ . }}.enable = true;{{ end }}
    {{ end }}
    {{ if eq .Config.Bling "high" }}
    # default bling
    {{ range .DefaultPrograms }}
    programs.{{ . }}.enable = true;{{ end }}
    # high bling
    {{ range .HighPrograms }}
    programs.{{ . }}.enable = true;{{ end }}
    {{ end }}
}
