{ pkgs, misc, ... }: {
    # This file will never be modified by fleek
    {{ if not .Config.Ejected }}
    # configs mentioned here must be listed in ~/fleek.yml #programs array or you will get errors
    {{ end }}

 
}
