{ pkgs, misc, ... }: {
    home.username = "{{.Username}}";
    home.homeDirectory = "{{.HomeDir}}";
    programs.git.enable = true;
    programs.git.userEmail = "{{.GitConfig.Email}}";
    programs.git.userName = "{{.GitConfig.Name}}";
}
