{ pkgs, misc, ... }: {
{{range $index, $element := .Bling.ProgramMap}} 
# {{ $index }}
{{range  $v := $element.ConfigLines}} 
  {{ $v.Key }} = {{ $v.Value  }};
  {{ end -}}
{{ end -}}
# {{ .Config.Shell }}
{{- if eq .Config.Shell "bash" }}
  programs.bash.profileExtra = "[ -r ~/.nix-profile/etc/profile.d/nix.sh ] && source  ~/.nix-profile/etc/profile.d/nix.sh";
  programs.bash.enableCompletion = true;
  programs.bash.enableVteIntegration = true;
  programs.bash.enable = true;
{{ end -}}
{{- if eq .Config.Shell "zsh" }}
  programs.zsh.profileExtra = "[ -r ~/.nix-profile/etc/profile.d/nix.sh ] && source  ~/.nix-profile/etc/profile.d/nix.sh";
  programs.zsh.enableCompletion = true;
  programs.zsh.enable = true;
{{ end -}}
}
