{
  description = "{{ .Config.Name }}";

  inputs = {
    # Nixpkgs
    nixpkgs.url = "github:nixos/nixpkgs/nixos-unstable";

    # Home manager
    home-manager.url = "github:nix-community/home-manager";
    home-manager.inputs.nixpkgs.follows = "nixpkgs";

    # Fleek
    fleek.url = "github:ublue-os/fleek";

  };

  outputs = { nixpkgs, home-manager, fleek, ... }@inputs: {

    # Available through 'home-manager --flake .#your-username@your-hostname'
    homeConfigurations = {
    {{ range .Config.Systems }}
      "{{ .Username }}@{{ .Hostname }}" = home-manager.lib.homeManagerConfiguration {
        pkgs = nixpkgs.legacyPackages.{{ .Arch }}-{{ .OS }}; # Home-manager requires 'pkgs' instance
        extraSpecialArgs = { inherit inputs; }; # Pass flake inputs to our config

        modules = [ 
          ./home.nix 
          ./path.nix
          ./shell.nix
          ./user.nix
          ./aliases.nix
          ./programs.nix
          # Host Specific configs
          ./{{.Hostname}}/{{.Hostname}}.nix
          ./{{.Hostname}}/user.nix
          # self-manage fleek
          {
           home.packages = [
            fleek.packages.{{ .Arch }}-{{ .OS }}.default
          ];
          }

        ];
      };
      {{ end }}
    };
  };
}
