{ pkgs, misc, ... }: {
  # packages are just installed (no configuration applied)
  # programs are installed and configuration applied to dotfiles
  # add your personalized program configuration in ./user.nix   

  # Bling supplied programs
  {{- range $index, $element := .Bling.Programs}} 
    programs.{{ $element }}.enable = true;{{ end }}

  # User specified programs
    {{- range $index, $element := .Config.Programs}} 
    programs.{{ $element }}.enable = true;{{ end }}

}
